<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Lobby</title>
  <%- include('shared/head') %>
    <script src="/js/game.js" defer></script>
</head>

<body id="games-body">
  <div class="background-image">
    <%- include('shared/templates') %>
      <div id="game-container">
        <%- include('shared/header') %>
          <div id="game-area-content">
            <section id="game-table">
                <% if(!hasStarted) { %>
                  <%- include('games/waiting-to-start-overlay') %>
                  <div id="play-area" class="play-area-before-start">
                    
                  </div>
                  <% } else { %>
                    <div id="play-area" class="started play-area-after-start"></div>
                    <% } %>
            </section>


            <!-- CARD FACE -->
<template id="card-face-template">
  <div class="card" data-card-id="">
    <img class="card-img" src="" alt="">
  </div>
</template>

<!-- DECK BACK -->
<template id="card-back-template">
  <div class="card back">
    <img src="/assets/card-images/back.png" alt="Deck">
  </div>
</template>


            <template id="player-template">
              <div class="player">
                <div class="player-area">
                  <div class="hand">
                    <div class="hand-count"></div>
                  </div>
                  <div class="piles">
                    <div class="stock-pile">
                      <div class="count"></div>
                    </div>
                    <div class="discard-area">
                      <div class="discard-pile" data-discard-pile="2"></div>
                      <div class="discard-pile" data-discard-pile="3"></div>
                      <div class="discard-pile" data-discard-pile="4"></div>
                      <div class="discard-pile" data-discard-pile="5"></div>
                    </div>
                  </div>
                </div>
              </div>
            </template>

            <%- include('shared/chat') %>
          </div>
      </div>
  </div>
</body>

</html>