<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <%- include("./shared/head") %>
</head>

<body>
    <div class="background-image">
        <%- include("./shared/header") %>
            <h1 class="lobby-title">Lobby</h1>

            <% if (locals.error && error !==undefined) { %>
                <div class="error-message">
                    <%= error %>
                </div>
                <% } %>

                    <form class="game-select-form" action="/lobby" method="POST">
                        <div class="select-game-group">
                            <label for="game" class="option-text">Join a Lobby:</label>
                            <select id="game" name="game" required>
                                <option value="" disabled selected>Select a game</option>
                                <!-- Add game options here -->
                            </select>
                        </div>
                        <button type="submit" id="join-game" class="join-game" disabled>Join Game</button>
                        <button type="button" id="create-game" class="create-game" disabled>Create Game</button>
                    </form>

                    <%- include('shared/chat') %>
    </div>
<%- include('shared/templates') %>
    <script>
        const selectGame = document.getElementById("game");
        const joinButton = document.getElementById("join-game");

        selectGame.addEventListener("change", () => {
            joinButton.disabled = !selectGame.value;
        });

    </script>
</body>