<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <script src="/js/lobby.js" defer></script>
    <%- include("./shared/head") %>
</head>

<body>
    <div class="background-image">
        <%- include("./shared/header") %>
            <h1 class="lobby-title">Lobby</h1>

            <% if (locals.error && error !==undefined) { %>
                <div class="error-message">
                    <%= error %>
                </div>
                <% } %>

                    <form class="game-select-form" action="/lobby" method="POST">
                        <div class="select-game-group">
                            <label for="game" class="option-text">Join a Lobby:</label>
                            <select id="game" name="game" required>
                                <option value="" disabled selected>Select a game</option>
                                <% if (locals.availableGames && availableGames.length> 0) { %>
                                    <% availableGames.forEach((game)=> { %>
                                        <option value="<%= game.id %>">
                                            <%= game.description ? game.description : `Room-${game.id}` %>
                                        </option>
                                        <% }) %>
                                            <% } else { %>
                                                <option value="" disabled>No available games</option>
                                                <% } %>
                            </select>
                        </div>
                        <button type="submit" id="join-game" class="join-game" disabled>Join Game</button>
                        <button type="button" id="create-game" class="create-game">Create Game</button>
                    </form>

                    <%- include('shared/chat') %>
    </div>
    <%- include('games/create-form') %>
        <%- include('shared/templates') %>
            <script>
                const selectGame = document.getElementById("game");
                const joinButton = document.getElementById("join-game");

                selectGame.addEventListener("change", () => {
                    joinButton.disabled = !selectGame.value;
                });

            </script>
</body>